<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="llc.metaversenetwork.app">

    <uses-sdk tools:overrideLibrary="com.alaer.lib" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TAhasSKS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!--用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"></uses-permission>
    <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".ui.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="d57922fd8db081f0fc6ccdda064c2b98" />

        <!-- 定位需要的服务 使用2.0的定位需要加上这个 -->
        <service android:name="com.amap.api.location.APSService" />

        <!-- 申请临时共享空间 Android N （拍照、相册等）-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".ui.produce.SeedStoreActivity">

        </activity>
        <activity
            android:name=".ui.welcom.WelcomActivity"
            android:configChanges="locale|layoutDirection"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.produce.ProductionHallActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.welcom.GuideActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.city.CityNodeApplyActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.city.MyCityActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.city.CityPopulationActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.home.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.user.LoginActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.user.ExchangeBuildScoreActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.user.InviterInfoActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.user.SecondPwdSetActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.share.ShareActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.video.VideoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.auth.AuthActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.auth.AuthSuccessActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.auth.AuthingActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.auth.AuthFailedActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.leisure.LeisureHallActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.game.GameHallActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.education.EducationHallActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.hospital.HospitalActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.shopping.DigitalMallActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.government.GovernmentHallActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.government.RealNameAuthActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.travel.TravelHallActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.user.UserMineActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.discover.DiscoverActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.discover.BeginnerGuideActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.user.LevelRuleActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.user.UserInfoActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.user.SetProfileActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.user.SetAvatarActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.user.ActiveBillActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.user.FruitBillActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.user.MyTeamActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.notice.NoticeListActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.notice.NoticeDetailActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.user.BuildScoreActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.setting.AboutActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.setting.SecurityCenterActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.setting.AccessPointActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.setting.SettingActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.webpage.WebPageActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.user.RegionActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.user.ContributionActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.user.UserLevelActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.wallet.WalletActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.wallet.CurrencyDetailActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.wallet.CurrencyRechargeRecordActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.wallet.RechargeActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.wallet.WithdrawalActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.wallet.CurrencyWithdrawalRecordActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.user.HonorRecordActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>