<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.cyberalaer.hybrid"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.produce.ProductionBaseActivity">

        </activity>
        <activity
            android:name=".ui.welcom.WelcomActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.produce.ProductionHallActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.welcom.GuideActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.home.HomeActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.user.LoginActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.leisure.LeisureHallActivity"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".ui.game.GameHallActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>