<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cyberalaer.hybrid">

    <uses-sdk tools:overrideLibrary="com.alaer.lib" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".ui.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.produce.SeedStoreActivity">

        </activity>
        <activity
            android:name=".ui.welcom.WelcomActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.produce.ProductionHallActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.welcom.GuideActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.home.HomeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.user.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.share.ShareActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.video.VideoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.auth.AuthActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.auth.AuthSuccessActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.leisure.LeisureHallActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.game.GameHallActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.education.EducationHallActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.hospital.HospitalActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.shopping.DigitalMallActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.government.GovernmentHallActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.government.RealNameAuthActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.travel.TravelHallActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.user.UserMineActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.discover.DiscoverActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.discover.BeginnerGuideActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.government.RealNameAuthSuccessActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.user.LevelRuleActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.user.UserInfoActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.user.WechatNoSetActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.user.ActiveDetailActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.user.FruitBIllActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.user.MyTeamActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.notice.NoticeListActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.notice.NoticeDetailActivity"
            android:screenOrientation="portrait"></activity>

    </application>

</manifest>